# Configurações do Banco de Dados
DATABASE_URL=postgresql+psycopg2://lembrete_user:R@mano123@localhost:5432/lembrete_db

# Ambiente Flask
FLASK_ENV=development

# Senha do Supervisor (manter segura)
SENHA_SUPERVISOR=290479
