# Configurações do Banco de Dados
DATABASE_URL=postgresql+psycopg2://usuario:senha@localhost:5432/estacionamento

# Ambiente Flask
FLASK_ENV=development

# Senha do Supervisor (manter segura)
SENHA_SUPERVISOR=sua_senha_aqui
